<cn-cell>Showing from {{paginator.offset + 1}} to {{paginator.offset + paginator.pageSize}}</cn-cell>
<cn-cell>
  <span class="paginator_button" (click)="previous()"><i class="material-icons">skip_previous</i></span>
  <span>Page: {{paginator.currentPage}}</span>
  <span class="paginator_button" (click)="next()"><i class="material-icons">skip_next</i></span>
</cn-cell>
<cn-cell>
  Page Size:
  <md-select [(ngModel)]="paginator.pageSize" (change)="setPageSize(paginator.pageSize)" >
    <md-option *ngFor="let pagesize of [5, 10, 25, 50]" [value]="pagesize">
      {{pagesize}}
    </md-option>
  </md-select>
</cn-cell>
